<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/validate.css">
	<link rel="stylesheet" href="/stylesheets/base-style.css">	
	<script src="/javascripts/validate.js"></script>	
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom-blue mb-4">
		<div class="container-fluid d-flex justify-content-center">
		  <a class="navbar-brand custom-brand-title-font fs-1 fw-bold" href="#">ONLINE MED-STORE</a>		  
		</div>
	</nav>