<%- include ('partials/header-login') %>
<div class="container">
<h3>Add Inventory Product</h3>


<form action="/medhome" method="POST">

        <div class="form-group mb-2">
        <label for="pname">Product Name:</label>
        <input type="text" name="pname" class="form-control" placeholder="Name new product" id="pname" required>
        </div>

		<div class="form-group mb-2">
        <label for="ptype">Product Type:</label>
        <input type="text" name="ptype" class="form-control" placeholder="Mention product type" id="ptype" required>
        </div>

		<div class="form-group mb-2">
        <label for="ptag">Tags:</label>
        <input type="text" name="ptag" class="form-control" placeholder="Filter tags like eg. Drops, Tablets, Cold..." id="ptag" required>
        </div>

		<div class="form-group mb-2">
        <label for="pbrand">Brand Name:</label>
        <input type="text" name="pbrand" class="form-control" placeholder="Enter product brand" id="pbrand" required>
        </div>

		<div class="form-group mb-2">
        <label for="pcomposition">Composition:</label>
        <input type="text" name="pcomposition" class="form-control" placeholder="Enter composition" id="pcomposition" required>
        </div>

        <div class="form-group mb-2">
        <label for="pquantity">Quantity:</label>
        <input type="number" name="pquantity" class="form-control" placeholder="Enter available quantity" id="pquantity" maxlength="5" required>
        </div>

		<div class="form-group mb-2">
        <label for="psymptoms">Symptoms covered:</label>
        <input type="text" name="psymptoms" class="form-control" placeholder="Enter symptoms covered" id="psymptoms" required>
        </div>

        <div class="form-group mb-2">
        <label for="pdesc">Product Description:</label>
        <input type="text" name="pdesc" class="form-control" placeholder="About product" id="pdesc" maxlength="80" required>
        </div>

        <div class="form-group mb-2">
        <label for="price">Price per unit: (in USD)</label>
        <input type="number" name="price" class="form-control" placeholder="Price per unit" id="price" maxlength="5" required>
        </div>


        <button type="submit" class="btn btn-warning fw-bold">Add Product</button>
        <a href="/"><button type="button" class="btn btn-warning mx-4 fw-bold">Homepage</button></a>


</form>

</div>

<%- include ('partials/footer') %>